@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

$font-family: "Open Sans", serif;
$main-color: #2c3e50;
$white: #fff;
$value-colour: #f16051;
$general-font-size: 0.9rem;
$font-weights: (
  "light": 100,
  "medium": 200,
  "semi-bold": 400
);

body {
  font-family: $font-family;
  background-color: $main-color;
  height: 90vh;
}

h1 {
  color: $white;
  display: flex;
  width: 90%;
  justify-content: center;
  padding: 1rem;
}

select {
  margin: 0 2rem;
  background: $white;
  width: 8rem;
  padding: 5px;
  font-size: $general-font-size;

  #{&}option {
    margin: 40px;
    background: $white;
    color: $white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2rem;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: $general-font-size;
  cursor: pointer;
  background-color: $value-colour;
  color: $white;
  font-weight: map-get($font-weights, "light");
}

button:active {
  outline: none;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px $value-colour;
  width: 50vw;
  padding-bottom: 4px;
  color: $white !important;
  font-weight: map-get($font-weights, "light");
  letter-spacing: 2px;
  font-size: $general-font-size;
  margin-bottom: 1rem;
  outline: none;
  text-align: center;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px $main-color inset;
  -webkit-text-fill-color: $white !important;
}

.main {
  height: 90vh;
  background: $white;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: 0 auto;
}

.flexDiv {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-container {
  background-color: $main-color;
  padding-top: 1rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ChartForm {
  display: flex;
  margin: 1rem auto;
}

.ChartForm > form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.DisplayData__info {
  width: 60%;
  font-size: $general-font-size;
  font-weight: map-get($font-weights, "medium");
  letter-spacing: 2px;
}

.DisplayData__key {
  color: $value-colour;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: map-get($font-weights, "semi-bold");
}

.DisplayData__key:last-child {
  border: 0;
}

.value {
  color: $white;
  font-weight: map-get($font-weights, "medium");
}

::placeholder {
  color: $white;
}

.Chart {
  width: 100% !important;
  height: 60vh !important;
  display: flex !important;
  margin: 0 !important;
  opacity: 0.9;
}

.Form {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  justify-content: space-around;
}

.FavList {
  color: $white;
  font-weight: map-get($font-weights, "medium");
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}

@media only screen and (max-width: 768px) {
  .FavList {
    margin: 0.5rem 1rem;
  }
}
